<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Input </title>
</head>
<body>
<form th:method="POST" th:action="@{/strings}" th:object="${str}">
    <label for="string">Введите Строку: </label>
    <input type="text" th:field="*{inputString}" id="string"/>
    <div style="color:red" th:if="${#fields.hasErrors('inputString')}" th:errors="*{inputString}"> Error</div>
    <br/>
    <input type="submit" value="Создать список"/>
</form>

</body>
</html>